<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/MemoryVault" version="1.0.0" viewmodes="maximized">
    <tizen:application id="DtG0Qvj8QM.MemoryVault" package="DtG0Qvj8QM" required_version="2.3.1"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>Memory Vault</name>
    <tizen:profile name="wearable"/>
</widget>
